/* Asterisk wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles */
    color: #3a3a3a;
}

/* Header */
header {
    background-color: red;
}

/* Main Content */
main {
    background-color: aqua;
    /* Forces element to take up surplus whitespace to push footer down to the bottom */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: blueviolet;
}
